asgiref==3.10.0
blinker==1.9.0
click==8.2.1
colorama==0.4.6
distlib==0.4.0
dj-database-url==3.1.2
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.18.0
Flask==3.1.1
Flask-Auth==0.85
greenlet==3.2.4
gunicorn==25.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mysql-connector-python==9.4.0
packaging==26.0
pillow==12.0.0
platformdirs==4.3.8
psycopg2-binary==2.9.11
PyJWT==2.11.0
PyMySQL==1.1.1
SQLAlchemy==2.0.44
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
virtualenv==20.32.0
Werkzeug==3.1.3
